@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

dfn{
	font-style: italic;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}
/* End all epigraphs */

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: left;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

/* language of flowers explanation in The Grammar of Love */
#the-grammar-of-love blockquote:nth-of-type(2) > p{
	margin: 0;
	text-indent: 0;
}
