@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

dfn{
	font-style: italic;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

/* language of flowers explanation in The Grammar of Love */
.explanation > p{
	margin: 0;
	text-indent: 0;
}
